*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.navbar .logo-container {
  display: none; }

@media only screen and (max-width: 600px) {
  .hamburger {
    position: fixed;
    text-align: center;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: silver;
    cursor: pointer; }
  .navOpen {
    z-index: 3;
    font-size: 2.5rem; }
  .closeNav {
    display: none;
    z-index: 3;
    font-size: 2.5rem; }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1f1f2e;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding: 3rem;
    z-index: 99; }
    .menu li {
      padding-bottom: 2rem; }
    .menu li:last-child .nav-link {
      font-weight: bold; }
    .menu .nav-link {
      text-decoration: none;
      color: #fff;
      font-size: 14px; }
      .menu .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid #fff; }
  .showMenu {
    transform: translateY(0); } }

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #1f1f2e;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3; }
    .navbar .menu {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      align-content: center; }
      .navbar .menu li:not(:last-child) {
        padding-right: 1rem; }
      .navbar .menu li:last-child .nav-link {
        font-weight: bold; }
      .navbar .menu .nav-link {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding-bottom: 10px; }
        .navbar .menu .nav-link:hover {
          transition: border 0.2s;
          border-bottom: 1px solid #fff; }
    .navbar .logo-container {
      display: block;
      width: 8rem; }
      .navbar .logo-container .logo {
        width: 100%; } }

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 1rem 4rem; }
    .navbar ul li:not(:last-child) {
      padding-right: 2rem !important; }
    .navbar .logo-container {
      width: 10rem; } }

@media only screen and (min-width: 1280px) {
  .navbar {
    padding: 1rem 14rem; }
    .navbar ul .nav-link {
      font-size: 16px; } }

.header {
  background: url("../assets/images/hero-bg.jpg") bottom center/cover no-repeat;
  min-height: 400px;
  position: relative; }
  .header .hero-text-container {
    position: absolute;
    right: 10%;
    bottom: 50%;
    width: 19rem;
    z-index: 5;
    text-align: center;
    text-transform: uppercase; }
    .header .hero-text-container .hero-text {
      font-size: 35px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 3px; }
  .header .phone-section {
    display: none; }

@media only screen and (max-width: 320px) {
  .header .hero-text-container {
    right: 0; } }

@media only screen and (min-width: 768px) {
  .header {
    min-height: 600px; }
    .header .hero-text-container {
      right: 3%;
      bottom: 45%;
      width: 19rem;
      text-align: start; }
      .header .hero-text-container .hero-text {
        font-size: 28px; }
    .header .phone-section {
      display: block; }
      .header .phone-section .phone {
        height: 30rem;
        position: absolute;
        top: 23%;
        left: 12%;
        z-index: 3; }
      .header .phone-section .phone-bg {
        width: 15.1rem;
        height: 22rem;
        object-fit: cover;
        position: absolute;
        z-index: 5;
        top: 37%;
        left: 13.6%; }
      .header .phone-section .phone-logo {
        position: absolute;
        width: 11rem;
        z-index: 6;
        top: 42%;
        left: 18%; }
      .header .phone-section .phone-text-container {
        text-transform: uppercase;
        position: absolute;
        bottom: 8%;
        left: 14%;
        z-index: 10;
        display: grid;
        width: 14rem; }
        .header .phone-section .phone-text-container .discover {
          font-size: 37px;
          color: #fff;
          font-weight: 300; }
        .header .phone-section .phone-text-container .adventure {
          justify-self: end;
          font-size: 16px;
          color: #fff;
          font-weight: bold; } }

@media only screen and (min-width: 1024px) {
  .header .hero-text-container {
    right: 7%; }
  .header .phone-section .phone-bg {
    height: 21.6rem;
    left: 13.2%; }
  .header .phone-section .phone-logo {
    left: 16.5%; } }

@media only screen and (min-width: 1280px) {
  .header .hero-text-container {
    right: 7%;
    width: 24rem; }
    .header .hero-text-container .hero-text {
      font-size: 35px; }
  .header .phone-section .phone-bg {
    left: 13%; }
  .header .phone-section .phone-logo {
    left: 16%; } }

@media only screen and (min-width: 1440px) {
  .header {
    min-height: 800px; }
    .header .hero-text-container {
      right: 17%;
      bottom: 50%;
      z-index: 5;
      width: 25rem; }
      .header .hero-text-container .hero-text {
        font-size: 40px; }
    .header .phone-section .phone {
      height: 41rem;
      top: 20%;
      left: 12%; }
    .header .phone-section .phone-bg {
      width: 20.7rem;
      height: 30rem;
      top: 34%;
      left: 13.1%; }
    .header .phone-section .phone-logo {
      width: 13rem;
      top: 42%;
      left: 17.5%; }
    .header .phone-section .phone-text-container {
      bottom: 8%;
      left: 14%;
      width: 19rem; }
      .header .phone-section .phone-text-container .discover {
        font-size: 46px; }
      .header .phone-section .phone-text-container .adventure {
        font-size: 18px; } }

.card {
  padding: 4rem 1rem;
  text-align: center; }
  .card .title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100; }
    .card .title span {
      font-weight: 300; }
  .card > p {
    font-weight: 300;
    padding: 2rem 0; }
  .card .card-grid {
    display: grid;
    grid-row-gap: 28px;
    padding-top: 1rem; }
    .card .card-grid .container {
      display: flex;
      flex-direction: column; }
      .card .card-grid .container .image-wrapper {
        width: 5rem;
        height: 5rem;
        background-color: #99ccff;
        border-radius: 50%;
        align-self: center; }
        .card .card-grid .container .image-wrapper .icon {
          padding-top: 22px; }
      .card .card-grid .container .icon-title {
        font-size: 16px;
        padding: 12px 0; }
      .card .card-grid .container > p {
        font-weight: 300; }

@media only screen and (min-width: 768px) {
  .card .title {
    font-size: 48px; }
  .card > p {
    padding: 2rem; }
  .card .card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px; } }

@media only screen and (min-width: 1024px) {
  .card {
    max-width: 768px;
    margin: 0 auto;
    padding: 6rem 0; }
    .card .title {
      font-size: 48px; } }

.grid-container {
  padding: 0 1rem; }
  .grid-container .image-column #relative {
    position: relative; }
  .grid-container .image-column #overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .grid-container .image-column .image-inline-text {
    position: absolute;
    bottom: 0px;
    padding: 15px;
    color: #fff;
    z-index: 5; }
    .grid-container .image-column .image-inline-text > h1 {
      font-size: 14px;
      font-weight: bold; }
    .grid-container .image-column .image-inline-text > p {
      font-size: 13px;
      padding: 6px 0; }
  .grid-container .image-column .image-wrapper {
    height: 25rem;
    margin-bottom: 1rem; }
    .grid-container .image-column .image-wrapper .image {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media only screen and (min-width: 768px) {
  .grid-container {
    padding: 6rem 1rem; }
    .grid-container .image-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 30px; }
    .grid-container .translate {
      transform: translateY(-4.5rem) scale(1.03); }
    .grid-container .image-column {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 25px; }
      .grid-container .image-column .image-wrapper {
        height: 18rem;
        margin-bottom: 0; } }

@media only screen and (min-width: 1024px) {
  .grid-container .image-column .image-wrapper {
    height: 25rem; } }

@media only screen and (min-width: 1280px) {
  .grid-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 6rem 0; }
    .grid-container .image-grid {
      grid-column-gap: 40px; } }

.footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black), url("../assets/images/footer.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.footer-text-container {
  position: absolute;
  z-index: 2;
  transform: scaleX(-1);
  bottom: 19%;
  left: 14%;
  text-align: end; }
  .footer-text-container .text-1 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase; }
    .footer-text-container .text-1 > span {
      font-weight: 400; }
  .footer-text-container .text-2 {
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300; }

.button-container {
  position: absolute;
  z-index: 2;
  transform: scaleX(-1);
  bottom: 6%;
  left: 14%;
  text-align: end;
  padding: 15px 15px;
  border: 1px solid #fff; }
  .button-container .button {
    font-size: 17px;
    color: #fff;
    text-decoration: none; }

@media only screen and (min-width: 768px) {
  .footer {
    height: 600px; }
  .footer-text-container {
    bottom: 20%; }
  .button-container {
    bottom: 8%;
    padding: 17px 25px; } }

@media only screen and (min-width: 1024px) {
  .footer {
    height: 1000px; }
  .footer-text-container {
    bottom: 14%; }
    .footer-text-container .text-1 {
      font-size: 70px; }
    .footer-text-container .text-2 {
      font-size: 115px; }
  .button-container {
    bottom: 6%;
    padding: 20px 41px; }
    .button-container .button {
      font-size: 19px; } }
